 <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Change password form</title>
</head>
<body>
	<section>
		
		<div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 220px;">
                    
                    	<!-- email form -->
                    	
                    	<h3 class="mt-4">Enter new password</h3>
                    	<form action="" th:action="@{/change-password}" method="post">
                    	
                    		<div class="form-group">
                    		
                    			<input required type="password" placeholder="Enter new password" class="form-control" name="newPassword" />
                    		
                    		</div>
                    		
                    		<div class="container text-center">
                    			<button class="btn btn-primary">Change Password</button>
                    		</div>
                    		
                    	</form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>